<div class="header-name">
  <h4 style="padding-left: 10px; padding-top: 5px;">Products</h4>
</div>
<div>
  <button class="btn btn-primary mb-3" (click)="openModal(ProductModal)">Add Product</button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-striped table-hover">
  <!-- Position Column -->
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef class="fs-6"> S.No. </th>
    <td mat-cell *matCellDef="let element; index as i;"> {{i + 1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="fs-6"> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.
    ProductName}} </td>
  </ng-container>

   <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef class="fs-6"> Product Description </th>
    <td mat-cell *matCellDef="let element"> {{element.ProductDescription}} </td>
  </ng-container>

   <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef class="fs-6"> Unit Price</th>
    <td mat-cell *matCellDef="let element"> {{element.UnitPrice}} </td>
  </ng-container>

   <ng-container matColumnDef="qty">
    <th mat-header-cell *matHeaderCellDef class="fs-6"> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
  </ng-container>

   <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef class="fs-6"> Image </th>
    <td mat-cell *matCellDef="let element"> 
        <img src="{{'data:image/png;base64,'+ element.ImageFile}}" alt="No Image" style=" height: 100px; width:100px">
    </td>
  </ng-container>

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef class="fs-6"> Last Name </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.View == 'True' " class="badge text-bg-success">Active</span>
      <span *ngIf="element.View == 'False' " class="badge text-bg-warning">InActive</span>
    </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef class="fs-6"> Edit </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.Edit == 'True' " class="badge text-bg-success">Active</span>
      <span *ngIf="element.Edit == 'False' " class="badge text-bg-warning">InActive</span>
    </td>
  </ng-container> -->

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="fs-6"> Action </th>
    <td mat-cell *matCellDef="let element">
      <button class="me-3 button-border" (click)="editProduct(element, ProductModal)">
        <mat-icon class="text-primary">edit</mat-icon>
      </button>
      <button class="me-3 button-border" (click)="deleteProduct(element.Id)">
        <mat-icon class="text-danger">delete</mat-icon>
      </button>
      <button class="button-border" title="Upload Image" (click)="openImageModal(imageModal, element.Id)">
        <mat-icon class="text-warning">file_upload</mat-icon>

      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>




<ng-template #ProductModal let-product>
  <div class="modal-header">
    <h4 class="modal-title">Add Product</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="product.dismiss('Cross click')"
    ></button>
  </div>

  <div class="modal-body">
    <form autocomplete="off" [formGroup]="productForm" (ngSubmit)="OnSubmit()">

      <div class="mb-3">
        <label for="">Product Name</label>
        <input
          type="text"
          required
          autocomplete="off"
          formControlName="productName"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="">Product Description</label>
        <input
          type="text"
          required
          autocomplete="off"
          formControlName="productDescription"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="">Quantity</label>
        <input
          type="number"
          required
          autocomplete="off"
          formControlName="quantity"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="">Unit Price</label>
        <input
          type="number"
          required
          autocomplete="off"
          formControlName="price"
          class="form-control"
        />
        <div>
          <small
            *ngIf="f['price'].hasError('min') && f['productName'].touched"
            class="text-danger"
          >
            Min Price is 100
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="">Product Category</label>
        <select
          class="form-control"
          formControlName="categoryId"
          (change)="getSubCategory()" [disabled]="editModal"
          
        >
          <option value="null" disabled selected>Select Category</option>
          <option *ngFor="let cat of categoryList" [value]="cat.Id">
            {{ cat.Name }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="">Sub Category</label>
        <select class="form-control" formControlName="subCatId" [disabled]="editModal">
          <option value="null" disabled selected>Select Sub Category</option>
          <option *ngFor="let subCat of subCategoryList" [value]="subCat.Id" >
            {{ subCat.Name }}
          </option>
        </select>
      </div>

      <div class="modal-footer">
        <button class="btn btn-warning" type="submit">Submit</button>
        <button
          class="btn btn-danger"
          type="button"
          (click)="product.dismiss('Cancel click')"
        >
          Cancel
        </button>
      </div>
    
    </form>
  </div>
</ng-template>

<!-- Add Image Modal -->
<ng-template #imageModal let-image>
  <div class="modal-header">
    <h4 class="modal-title">Upload Product Image</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="image.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">

      <img [src]="productImage" alt="No Image" style=" height: 150px; width:150px">
      <input type="file" (change)="readImageFile($event)"/>

    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" type="button"(click)="UploadImage()">Upload</button>
    <button class="btn btn-danger" type="button" (click)="closeImageModal()">
      Cancel
    </button>
  </div>
</ng-template>
