<div class="checkout-container">
  <h2>Checkout</h2>

  <div class="summary-card">
    <h3>Order Summary</h3>

    <ng-container *ngIf="cartItems$ | async as cartItems">
      
      <div *ngFor="let item of cartItems" class="summary-item">
        <span>{{ item.ProductName }} x {{ item.Quantity }}</span>
        <span>₹{{ item.UnitPrice * item.Quantity }}</span>
      </div>

      <hr>

      <div class="summary-total">
        <strong>Total:</strong>
        <h2>₹{{ (totalAmount$ | async) ?? 0 }}</h2>
      </div>

    </ng-container>

    <button class="confirm-order-btn" (click)="pay()">
      Confirm & Pay
    </button>
  </div>
</div>
